div{
    width: 40vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #39a900;
    margin-right: -10vw;
}

h3{
    font-size: 3.5vh;
    color:white;
    text-decoration: underline;
}